@model GotStuff.ViewModels.StockProductGroupVm

@{
    ViewData["Title"] = "Index";
}

<h1>Product Details</h1>

<div class="form-group">
    <a asp-action="Create" asp-route-id="@Model.ProductId"><input type="button" value="Add New" class="btn btn-primary" /></a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Acquired Date
            </th>
            <th>
                Expiration Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StockProducts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DetailedStockProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DetailedStockProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DetailedStockProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index" asp-controller="StockProduct">Back to List</a>
</div>
