@model GotStuff.ViewModels.PantryVm

@{
    ViewData["Title"] = "PantryStock";
}

<h1>Stock Products List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contents) {
        <tr>
            <td>
                <a class="nav-link" asp-area="" asp-controller="StockProductDetails" asp-action="Index" asp-route-id="@item.ProductId">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-action="Create" asp-route-id="@item.ProductId">Add</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Pantry">Back to list</a>
</div>


