@model IEnumerable<GotStuff.ViewModels.PantryVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Pantries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="" asp-controller="StockProduct" asp-action="PantryStock" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForDelete_@item.Id">Delete</button>
                     
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modalForDelete_@item.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                          Are you sure you want to delete the @Html.DisplayFor(modelItem => item.Name) pantry?
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form asp-action="Delete" asp-route-id="@item.Id">
                                <input type="hidden" asp-for="@item.Id" />
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </form>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
