@model IEnumerable<GotStuff.Dtos.StockItemDto>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Stock items</h1>

<table class="table">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </th>
                <th>
                   @Html.DisplayFor(modelItem => item.Count)
@*                    @Html.DropDownListFor(modelItem => item.Count, GetNumberRange() )*@

                </th>
            </tr>

        }
    </tbody>
</table>
@*
@{
    IEnumerable<SelectListItem> GetNumberRange()
    {
        return Enumerable.Range(0, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() });
    }*@


}