@model GotStuff.ViewModels.StockProductGroupVm

@{
    ViewData["Title"] = "Index";
}

<h1>Stock Product Details</h1>

<div class="form-group">
    <a asp-action="Create" asp-route-id="@Model.ProductId"><input type="button" value="Add New" class="btn btn-primary" /></a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Acquired Date
            </th>
            <th>
                Expiration Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StockProducts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcquiredDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockProductDetailsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockProductDetailsId">Details</a> |

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForDelete_@item.StockProductDetailsId">Delete</button>
                     
                <div class="modal fade" data-bs-keyboard="false" data-bs-backdrop="static" id="modalForDelete_@item.StockProductDetailsId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                      </div>
                      <div class="modal-body">
                          Are you sure you want to delete this stock product?
                      </div>
                      <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <form asp-action="Delete" asp-route-id="@item.StockProductDetailsId">
                                <input type="hidden" asp-for="@item.StockProductDetailsId" />
                                <input type="submit" value="Delete" class="btn btn-primary" />
                            </form>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>


<div>
    <a asp-controller="StockProduct" asp-action="PantryStock" asp-route-id="@Model.PantryId">Back to List</a>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
}