@model IEnumerable<GotStuff.ViewModels.KnownProductVm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-dark" asp-action="Create">Create New</a>
</p>

 <form method="post">
    <input type="text" name="searchedTerm"/>
    <input type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Default Shelf Life
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultShelfLife)
            </td>
            <td>
                <a class="btn btn-light" asp-action="Edit" asp-route-id="@item.KnownProductId">Edit</a>
                <a class="btn btn-light" asp-action="Details" asp-route-id="@item.KnownProductId">Details</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.KnownProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
