@model GotStuff.ViewModels.PantryVm

@{
    ViewData["Title"] = "Index";
}

<p>
     <a class="btn btn-outline-dark" asp-action="SharePantry" asp-route-id="@Model.Id">Add new friend</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AppUsers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>

            <td>
                @if (User.Identity.Name != item.EmailAddress)
                {
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" asp-route-pantryId="@Model.Id">Remove</a>
                }
            </td>
         </tr>
}
    </tbody>
</table>

<div>
    <a class="btn btn-outline-dark" asp-controller="Pantry" asp-action="Index">Back to List</a>
</div>